.Contact{
  margin-top: -110px;
}
.contactImg img{
  width: 100%;
  height: 30%;
  object-fit: cover;
}
.contactWords h2{
  font-family: serif;
  font-size: 45px;
  font-weight: 700;
  color: rgb(139, 136, 136);
}
.contactWords h3{
  font-family: serif;
  font-size: 30px;
  font-weight: 700;
  color: rgb(17, 16, 16);
}
.contactInfo{
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.contactWords{
  flex-grow: 2;
  margin-left: 2%;
  text-align: center;
}
.contactForm{
  margin-top: 10px;
  background: whiteSmoke;
  flex-grow: 5;
  margin-right: 10%;
}