.navbar{
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  height: 110px;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* background: red; */


}
.navbar1{
  background-color: white;  
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: row;
  height: 110px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo img{
  height: 90px;
  width: 250px;
  object-fit: cover;
  margin-left: 40px;
  cursor: pointer;
}
.logo{
  padding: 10px;
  margin-top: 0px;
  flex-grow: 6;
}
.otherInfo {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  padding: 10px;

}
.otherInfo li{
  list-style: none;
  margin-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
  cursor: pointer;
  color: white;
}
.otherInfo li:hover{
  color: whitesmoke;
}
.links{
  list-style: none;
    cursor:pointer;
  text-decoration: none;

}
.otherInfos li{
  list-style: none;
  margin-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
  cursor: pointer;
  color: rgb(11, 11, 11);
}
.otherInfos li:hover{
  color: rgb(123, 122, 122);
}
.otherInfos{
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  padding: 10px;
}
