.sidebar{
  display: flex;
  flex-direction: row;
}
.toggle{
  background: #000;
  flex-grow: 2;
  height: 80vh;
}
.info{
  flex-grow: 5;
  display: flex;
  flex-direction: column;
}
.header{
  background:red;
}